.planetSec {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.planet {
  position: relative;
  border-radius: 50%;
  animation: spin 60s linear infinite;
}

.planet::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0, 0, 64, 0.4), transparent 70%);
  z-index: -1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planetName {
  cursor: pointer;
  width: 100%;
  margin-block-start: 3rem;
  color: white;
  text-align: center;
  font-size: 2.5rem; /* Slightly larger for emphasis */
  letter-spacing: 2px; /* Increased spacing for readability */
  font-weight: 600; /* Make the text a bit bolder */
  font-family: "Montserrat", sans-serif;
  background: -webkit-linear-gradient(
    45deg,
    #e5dcc1,
    #f0e68c,
    #c5c2b3,
    #adaba4
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Apply gradient to text */
  animation: shine 5s linear infinite;
  text-shadow: 0px 0px 8px rgba(199, 193, 157, 0.8); /* Soft glow effect */
}

@keyframes shine {
  0% {
    background-position: top right;
  }
  50% {
    background-position: bottom left;
  }
  100% {
    background-position: top right;
  }
}

.planetDetails {
  position: absolute;
  right: 6rem;
  font-family: "Space Mono", monospace;
  height: 50%;
}

.planetDetails > div {
  font-size: 1.2rem;
  color: #f0e68c;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-inline: 0.5rem;
  white-space: nowrap;
  overflow: hidden; /* Hide the overflow to make the typing effect */
  border-right: 0.15em solid orange; /* Simulates the cursor */
  width: 0; /* Start with 0 width and expand to reveal the text */
  opacity: 0; /* Start invisible and become visible as it "types" */
  animation: typingEffect 4s steps(40, end) forwards; /* Adjust time as needed */
}

.planetDetails > div:not(:first-child) {
  animation-delay: 2s; /* Delay subsequent details to simulate sequential typing */
}

.planetDetails > div:not(:nth-child(2)) {
  animation-delay: 4s; /* Further delay for the second detail */
}

.planetDetails > div > span {
  font-size: 1.1rem;
  color: #e5dcc1;
}

@keyframes typingEffect {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.noteSec {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  color: #ebb30b;
  > span {
    font-size: 2rem;
    margin-inline: 0.3rem;
  }
}
